[Desktop Entry]
Version=1.0
Type=Application
Name=CompizConfig Settings Manager
Comment=Configure Compiz with CompizConfig
Icon=ccsm
Exec=ccsm
NoDisplay=true
Categories=DesktopSettings;Settings;
StartupNotify=true
Terminal=false
