[Desktop Entry]
Version=1.0
Type=Application
Name=YouTube
Icon=chrome-blpcfgokakmgnkcojhhkbfbldkacnbeo-Default
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=blpcfgokakmgnkcojhhkbfbldkacnbeo
NoDisplay=false
Categories=Other;
StartupWMClass=crx_blpcfgokakmgnkcojhhkbfbldkacnbeo
StartupNotify=false
Terminal=false
