[Desktop Entry]
Version=1.0
Type=Application
Name=Google Drive
Icon=chrome-apdfllckaahabafndbhieahigkjlhalf-Default
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=apdfllckaahabafndbhieahigkjlhalf
NoDisplay=false
Categories=Other;
StartupWMClass=crx_apdfllckaahabafndbhieahigkjlhalf
StartupNotify=false
Terminal=false
