[Desktop Entry]
Version=1.0
Type=Application
Name=Google Docs
Icon=chrome-aohghmighlieiainnegkcijnfilokake-Default
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=aohghmighlieiainnegkcijnfilokake
NoDisplay=false
Categories=Other;
StartupWMClass=crx_aohghmighlieiainnegkcijnfilokake
StartupNotify=false
Terminal=false
