[Desktop Entry]
Version=1.0
Type=Application
Name=Preferred Applications
Comment=Preferred Applications (Web Browser, Mail Reader and Terminal Emulator)
Icon=preferences-desktop-default-applications
Exec=exo-preferred-applications
NoDisplay=true
OnlyShowIn=XFCE;
Categories=DesktopSettings;GTK;Settings;X-XFCE-PersonalSettings;X-XFCE-SettingsDialog;XFCE;
StartupNotify=true
Terminal=false
