[Desktop Entry]
Version=1.0
Type=Application
Name=Upload Manager
Comment=Define upload services
Icon=/usr/share/pixmaps/mintupload/icon.svg
Exec=mintupload-manager
NoDisplay=true
NotShowIn=KDE;
Categories=Application;Settings;System;
StartupNotify=false
Terminal=false
