[Desktop Entry]
Version=1.0
Type=Application
Name=Lock Screen
Comment=Requires password to unlock
Icon=lock
Exec=xflock4
NoDisplay=true
OnlyShowIn=XFCE;
Categories=X-XFCE;X-Xfce-Toplevel;
StartupNotify=false
Terminal=false
