[Desktop Entry]
Version=1.0
Type=Application
Name=Panel
Comment=Customize the panel
Icon=xfce4-panel
Exec=xfce4-panel --preferences
NoDisplay=true
OnlyShowIn=XFCE;
Categories=DesktopSettings;GTK;Settings;X-XFCE-PersonalSettings;X-XFCE-SettingsDialog;XFCE;
StartupNotify=true
Terminal=false
