[Desktop Entry]
Version=1.0
Type=Application
Name=Time and Date
Comment=Change system time, date, and timezone
Icon=time-admin
Exec=time-admin
NoDisplay=true
Categories=GNOME;GTK;Settings;System;
StartupNotify=true
Terminal=false
