[Desktop Entry]
Version=1.0
Type=Application
Name=Run Program...
Comment=Run a program
Icon=system-run
Exec=xfce4-appfinder --collapsed
NoDisplay=true
OnlyShowIn=XFCE;
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
StartupNotify=true
Terminal=false
