[Desktop Entry]
Version=1.0
Type=Application
Name=Session and Startup
Comment=Customize desktop startup and splash screen
Icon=xfce4-session
Exec=xfce4-session-settings
NoDisplay=true
OnlyShowIn=XFCE;
Categories=DesktopSettings;GTK;Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;XFCE;
StartupNotify=true
Terminal=false
