[Desktop Entry]
Version=1.0
Type=Application
Name=Window Manager
Comment=Configure window behavior and shortcuts
Icon=xfwm4
Exec=xfwm4-settings
NoDisplay=true
OnlyShowIn=XFCE;
Categories=DesktopSettings;GTK;Settings;X-XFCE-PersonalSettings;X-XFCE-SettingsDialog;XFCE;
StartupNotify=true
Terminal=false
